#### 1. Import pandas library

In [54]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data

In [55]:
import pymysql
from sqlalchemy import create_engine

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/search?tableCount%5B%5D=0-10&tableCount%5B%5D=10-30&dataType%5B%5D=Numeric&databaseSize%5B%5D=KB&databaseSize%5B%5D=MB)

In [56]:
engine = create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz/stats')

#### 4. Import the users table

In [57]:
users = pd.read_sql_query('SELECT * FROM stats.users', engine)

#### 5. Rename Id column to userId

In [58]:
users = users.rename(columns={'Id':'userID'})

In [59]:
users.columns

Index(['userID', 'Reputation', 'CreationDate', 'DisplayName', 'LastAccessDate',
       'WebsiteUrl', 'Location', 'AboutMe', 'Views', 'UpVotes', 'DownVotes',
       'AccountId', 'Age', 'ProfileImageUrl'],
      dtype='object')

#### 6. Import the posts table.

In [60]:
posts = pd.read_sql_query('SELECT * FROM stats.posts', engine)

#### 7. Rename Id column to postId and OwnerUserId to userId

In [61]:
posts = posts.rename(columns={'Id':'postID'})

In [62]:
posts = posts.rename(columns={'OwnerUserId':'userID'})

In [63]:
posts.columns

Index(['postID', 'PostTypeId', 'AcceptedAnswerId', 'CreaionDate', 'Score',
       'ViewCount', 'Body', 'userID', 'LasActivityDate', 'Title', 'Tags',
       'AnswerCount', 'CommentCount', 'FavoriteCount', 'LastEditorUserId',
       'LastEditDate', 'CommunityOwnedDate', 'ParentId', 'ClosedDate',
       'OwnerDisplayName', 'LastEditorDisplayName'],
      dtype='object')

#### 8. Define new dataframes for users and posts with the following selected columns:
    **users columns**: userId, Reputation,Views,UpVotes,DownVotes
    **posts columns**: postId, Score,userID,ViewCount,CommentCount

In [64]:
usersdf = users[['userID', 'Reputation', 'Views', 'UpVotes', 'DownVotes']]
print(type(usersdf))
usersdf.head()

<class 'pandas.core.frame.DataFrame'>

   userID  Reputation  Views  UpVotes  DownVotes
0      -1           1      0     5007       1920
1       2         101     25        3          0
2       3         101     22       19          0
3       4         101     11        0          0
4       5        6792   1145      662          5

In [65]:
postsdf = posts[['postID', 'Score', 'userID', 'ViewCount', 'CommentCount']]
print(type(postsdf))
postsdf.head()

<class 'pandas.core.frame.DataFrame'>

   postID  Score  userID  ViewCount  CommentCount
0       1     23     8.0     1278.0             1
1       2     22    24.0     8198.0             1
2       3     54    18.0     3613.0             4
3       4     13    23.0     5224.0             2
4       5     81    23.0        NaN             3

#### 8. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [66]:
usersposts = pd.merge(usersdf, postsdf, on='userID')
print(type(usersposts))
usersposts.head(10)

<class 'pandas.core.frame.DataFrame'>

,userID,Reputation,Views,UpVotes,DownVotes,postID,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,NaN,0
1,-1,1,0,5007,1920,8576,0,NaN,0
2,-1,1,0,5007,1920,8578,0,NaN,0
3,-1,1,0,5007,1920,8981,0,NaN,0
4,-1,1,0,5007,1920,8982,0,NaN,0
5,-1,1,0,5007,1920,9857,0,NaN,0
6,-1,1,0,5007,1920,9858,0,NaN,0
7,-1,1,0,5007,1920,9860,0,NaN,0
8,-1,1,0,5007,1920,10130,0,NaN,0
9,-1,1,0,5007,1920,10131,0,NaN,0

#### 9. How many missing values do you have in your merged dataframe? On which columns?

In [67]:
# 48396 missing values in column ViewCount
null_cols = usersposts.isnull().sum()
null_cols[null_cols > 0]

ViewCount    48396
dtype: int64

#### 10. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before passing to the next step

In [68]:
# I will clean the missing values in this case since they are all in one column and more than half of the entries are missing it
drop_cols = list(null_cols[null_cols > 0].index)

In [69]:
usersposts2 = usersposts.drop(drop_cols, axis=1)
usersposts2.head()

   userID  Reputation  Views  UpVotes  DownVotes  postID  Score  CommentCount
0      -1           1      0     5007       1920    2175      0             0
1      -1           1      0     5007       1920    8576      0             0
2      -1           1      0     5007       1920    8578      0             0
3      -1           1      0     5007       1920    8981      0             0
4      -1           1      0     5007       1920    8982      0             0

#### 11. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [70]:
# When I review only the information of the dataframe usersposts2, it seems like all data types are correct 
usersposts2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 90584 entries, 0 to 90583
Data columns (total 8 columns):
userID          90584 non-null int64
Reputation      90584 non-null int64
Views           90584 non-null int64
UpVotes         90584 non-null int64
DownVotes       90584 non-null int64
postID          90584 non-null int64
Score           90584 non-null int64
CommentCount    90584 non-null int64
dtypes: int64(8)
memory usage: 6.2 MB

In [74]:
"""
Therefore, I proceded to review the data types of the original tables users and posts. 
When I did this I noticed that userID's data type in the users is int64, while in the posts is float64. 
This would be an important change to do from the begining, specially since this is the column being used to merge the dataframes.

In addition, for the users table I would also change age from float64 to int64 since probably the decimals in such type of data just lead to errors.
For the posts table, I would change AnswerCount and FavoriteCount from float64 to int64, there shouldn't be half answers or half favorites.
Same with LastEditorUserId and ParentId which should change from float64 to int64.
"""
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40325 entries, 0 to 40324
Data columns (total 14 columns):
userID             40325 non-null int64
Reputation         40325 non-null int64
CreationDate       40325 non-null datetime64[ns]
DisplayName        40325 non-null object
LastAccessDate     40325 non-null datetime64[ns]
WebsiteUrl         8121 non-null object
Location           11691 non-null object
AboutMe            9379 non-null object
Views              40325 non-null int64
UpVotes            40325 non-null int64
DownVotes          40325 non-null int64
AccountId          40325 non-null int64
Age                8318 non-null float64
ProfileImageUrl    16479 non-null object
dtypes: datetime64[ns](2), float64(1), int64(6), object(5)
memory usage: 4.3+ MB

In [75]:
posts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91976 entries, 0 to 91975
Data columns (total 21 columns):
postID                   91976 non-null int64
PostTypeId               91976 non-null int64
AcceptedAnswerId         14700 non-null float64
CreaionDate              91976 non-null datetime64[ns]
Score                    91976 non-null int64
ViewCount                42921 non-null float64
Body                     91756 non-null object
userID                   90584 non-null float64
LasActivityDate          91976 non-null datetime64[ns]
Title                    42921 non-null object
Tags                     42921 non-null object
AnswerCount              42921 non-null float64
CommentCount             91976 non-null int64
FavoriteCount            13246 non-null float64
LastEditorUserId         44611 non-null float64
LastEditDate             45038 non-null datetime64[ns]
CommunityOwnedDate       2467 non-null datetime64[ns]
ParentId                 47755 non-null float64
ClosedDate               1610 non-null datetime64[ns]
OwnerDisplayName         2509 non-null object
LastEditorDisplayName    465 non-null object
dtypes: datetime64[ns](5), float64(7), int64(4), object(5)
memory usage: 14.7+ MB

#### Bonus: Identify extreme values in your merged dataframe as you have learned in class, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder.