# Lab Mongo

- Import libraries

In [58]:
import pandas as pd
import pymongo as py

- set client and db

In [1]:
from pymongo import MongoClient 
client = MongoClient("mongodb://admin:admin@localhost:32770")
db = client.mybbdd

6. All the companies that don't include the partners field.
7. All the companies that have a null type of value on the category_code field.
8. All the companies that have at least 100 employees but less than 1000. Retrieve only the name and number of employees fields.
9. Order all the companies by their IPO price descendently.
10. Retrieve the 10 companies with more employees, order by the number of employees
11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.
12. All the companies that have been 'deadpooled' after the third year.
13. All the companies founded before 2000 that have and acquisition amount of more than 10.000.000
14. All the companies that have been acquired after 2015, order by the acquisition amount, and retrieve only their nameand acquisiton field.
15. Order the companies by their founded year, retrieving only their name and founded year.
16. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their aquisition price descendently. Limit the search to 10 documents.
17. All the companies on the 'web' category that have more than 4000 employees. Sort them by the amount of employees in ascendant order.
18. All the companies which their acquisition amount is more than 10.000.000, and currency are 'EUR'.
19. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their name and acquisition fields.
20. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

1. All the companies that it's name match 'Babelgum'. Retrieve only their name field.

In [24]:
name_babelgum = db.docs.find({"name":{"$eq":"Babelgum"}})
name_babelgum[0]['name']

'Babelgum'

2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by number of employees.

In [90]:
employees_5000 = db.docs.find({"number_of_employees":{"$gt":5000}}, projection={"name": 1 , "number_of_employees": 1, "_id": 0}).sort("number_of_employees", py.DESCENDING).limit(20)
employees_5000 = pd.DataFrame(list(employees_5000))
employees_5000

                                          name  number_of_employees
0                                      Siemens               405000
1                                          IBM               388000
2                                       Toyota               320000
3                                       PayPal               300000
4   Nippon Telegraph and Telephone Corporation               227000
5                          Samsung Electronics               221726
6                                    Accenture               205000
7                    Tata Consultancy Services               200300
8                    Flextronics International               200000
9                                      Safeway               186000
10                                        Sony               180500
11                                          LG               177000
12                                        Ford               171000
13                                      Boeing               160000
14               Digital Equipment Corporation               140000
15                                       Nokia               125000
16                         MItsubishi Electric               107000
17                         MItsubishi Electric               107000
18                                     Comcast               100000
19                                 Bertelsmann               100000

3. All the companies founded between 2000 and 2005, both years included. Retrieve only the name and founded_yearfileds.

In [92]:
founded_2000_2005 = db.docs.find({"founded_year":{'$gte':2000,'$lte':2005}}, projection={"name": 1 , "founded_year": 1}).sort("founded_year", py.ASCENDING)
founded_2000_2005 = pd.DataFrame(list(founded_2000_2005))
founded_2000_2005

                           _id  founded_year                       name
0     52cdef7c4bab8bd675297dd5          2000                   AllofMP3
1     52cdef7c4bab8bd675297dd9          2000                     Steorn
2     52cdef7c4bab8bd675297ddb          2000                     MeeVee
3     52cdef7c4bab8bd675297e38          2000                   PhotoBox
4     52cdef7c4bab8bd675297e73          2000                     Boonex
5     52cdef7c4bab8bd675297ea9          2000                     Sulake
6     52cdef7c4bab8bd675297eb6          2000                SelectMinds
7     52cdef7c4bab8bd675297ef2          2000                 ContextWeb
8     52cdef7c4bab8bd675297efd          2000                   ZoomInfo
9     52cdef7c4bab8bd675297f12          2000                   eHarmony
10    52cdef7c4bab8bd675297f39          2000                  Espotting
11    52cdef7c4bab8bd675297f3e          2000                       airG
12    52cdef7c4bab8bd675297f63          2000                    Marchex
13    52cdef7c4bab8bd675297f7a          2000              ContactOffice
14    52cdef7c4bab8bd675297f99          2000                      WooMe
15    52cdef7c4bab8bd675297fd9          2000                      Boomi
16    52cdef7c4bab8bd67529802f          2000                     zSlide
17    52cdef7c4bab8bd675298058          2000                 Phrasebase
18    52cdef7c4bab8bd675298064          2000                    Ubertor
19    52cdef7c4bab8bd67529806a          2000                     JobDig
20    52cdef7c4bab8bd67529808b          2000                      Quigo
21    52cdef7c4bab8bd6752980af          2000                    Compete
22    52cdef7c4bab8bd6752980f8          2000                  LinkStorm
23    52cdef7c4bab8bd675298101          2000                iStockphoto
24    52cdef7c4bab8bd675298107          2000                beRecruited
25    52cdef7c4bab8bd675298157          2000                FastBooking
26    52cdef7c4bab8bd675298163          2000                   Smilebox
27    52cdef7c4bab8bd675298180          2000                       Deem
28    52cdef7c4bab8bd675298181          2000                 CDNetworks
29    52cdef7c4bab8bd6752981a7          2000                TripAdvisor
...                        ...           ...                        ...
3704  52cdef7f4bab8bd67529c1cc          2005                     Joomla
3705  52cdef7f4bab8bd67529c1df          2005                   CallFire
3706  52cdef7f4bab8bd67529c1fe          2005                     OpTier
3707  52cdef7f4bab8bd67529c25b          2005  Prime Time Communications
3708  52cdef7f4bab8bd67529c257          2005                     Azingo
3709  52cdef7f4bab8bd67529c269          2005             Video Game 911
3710  52cdef7f4bab8bd67529c26e          2005            Varonis Systems
3711  52cdef7f4bab8bd67529c287          2005      Rivotek Kenya Limited
3712  52cdef7f4bab8bd67529c2be          2005                Report Hawk
3713  52cdef7f4bab8bd67529c2c6          2005               Agency Zebra
3714  52cdef7f4bab8bd67529c2ca          2005                    Alter-G
3715  52cdef7f4bab8bd67529c302          2005       Breathe Technologies
3716  52cdef7f4bab8bd67529c339          2005                  SoloPower
3717  52cdef7f4bab8bd67529c348          2005                   Mashable
3718  52cdef7f4bab8bd67529c3af          2005          Control Solutions
3719  52cdef7f4bab8bd67529c3ed          2005                 GreenVolts
3720  52cdef7f4bab8bd67529c3f1          2005                  SoftLayer
3721  52cdef7f4bab8bd67529c3fb          2005                   Semprius
3722  52cdef7f4bab8bd67529c47b          2005    SI Government Solutions
3723  52cdef7f4bab8bd67529c4c8          2005                      Danoo
3724  52cdef7f4bab8bd67529c4eb          2005                  Teklatech
3725  52cdef7f4bab8bd67529c54f          2005           Phasor Solutions
3726  52cdef7f4bab8bd67529c594          2005                   Equiendo
3727  52cdef7f4bab8bd67529c598          2005                     Axxana
3728  52cdef7f4bab8bd67529c59c          2005       TerraGo Technologies
3729  52cdef7f4bab8bd67529c5d6          2005                Swiftprosys
3730  52cdef7f4bab8bd67529c5d9          2005     Events Computer Design
3731  52cdef7f4bab8bd67529c62d          2005   Total Telecom Consulting
3732  52cdef7f4bab8bd67529c653          2005                   iPartyTV
3733  52cdef7f4bab8bd67529c6bf          2005       Mu-Gahat Enterprises

[3734 rows x 3 columns]

4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the name and ipo fields.

In [103]:
valuation_founded = db.docs.find({'$and' : [{"founded_year":{'$lt':2010}}, {"ipo.valuation_amount":{'$gt':100000000}}]},projection={"name": 1 , "founded_year": 1, "ipo.valuation_amount": 1})
valuation_founded = pd.DataFrame(list(valuation_founded))
valuation_founded

,_id,founded_year,ipo,name
0,52cdef7c4bab8bd675297d8e,2004,{'valuation_amount': 104000000000},Facebook
1,52cdef7c4bab8bd675297d94,2006,{'valuation_amount': 18100000000},Twitter
2,52cdef7c4bab8bd675297de0,2004,{'valuation_amount': 1300000000},Yelp
3,52cdef7c4bab8bd675297e0c,2003,{'valuation_amount': 9310000000},LinkedIn
4,52cdef7c4bab8bd675297e7a,1994,{'valuation_amount': 100000000000},Amazon
5,52cdef7c4bab8bd675297e81,2004,{'valuation_amount': 290000000},Brightcove
6,52cdef7c4bab8bd675297ee5,2008,{'valuation_amount': 235000000},KIT digital
7,52cdef7c4bab8bd675297f15,1922,{'valuation_amount': 1600000000},Nielsen
8,52cdef7c4bab8bd675297f36,1998,{'valuation_amount': 1050000000},OpenTable
9,52cdef7c4bab8bd675297f42,2001,{'valuation_amount': 287000000},ChannelAdvisor
10,52cdef7c4bab8bd675297f95,2001,{'valuation_amount': 1000000000},Jive Software
11,52cdef7c4bab8bd67529800c,2005,{'valuation_amount': 2550000000},Zillow
12,52cdef7c4bab8bd67529805d,2006,{'valuation_amount': 750000000},Wix
13,52cdef7c4bab8bd675298112,1999,{'valuation_amount': 350000000},Shutterfly
14,52cdef7c4bab8bd6752981a7,2000,{'valuation_amount': 3273770000},TripAdvisor
15,52cdef7c4bab8bd67529823b,1999,{'valuation_amount': 110000000},Salesforce
16,52cdef7c4bab8bd6752982f6,2005,{'valuation_amount': 3000000000},HomeAway
17,52cdef7c4bab8bd6752984e3,1999,{'valuation_amount': 140000000},QuinStreet
18,52cdef7c4bab8bd675298527,1998,{'valuation_amount': 5440000000},Rackspace
19,52cdef7c4bab8bd67529859a,1980,{'valuation_amount': 6000000000},BMC Software
20,52cdef7c4bab8bd675298649,2000,{'valuation_amount': 1060000000},Higher One
21,52cdef7c4bab8bd67529865c,1999,{'valuation_amount': 824000000},Infoblox
22,52cdef7c4bab8bd675298674,1998,{'valuation_amount': 11000000000},Tencent
23,52cdef7c4bab8bd675298696,2006,{'valuation_amount': 465000000},Marketo
24,52cdef7c4bab8bd675298760,1999,{'valuation_amount': 4000000000},Baidu
25,52cdef7c4bab8bd6752987fe,1993,{'valuation_amount': 134000000},Geeknet
26,52cdef7d4bab8bd6752989a0,1999,{'valuation_amount': 450000000},Opsware
27,52cdef7d4bab8bd6752989f2,1999,{'valuation_amount': 337000000},Telenav
28,52cdef7d4bab8bd675298d0e,2001,{'valuation_amount': 315000000},Rally Software
29,52cdef7d4bab8bd675298d12,2004,{'valuation_amount': 1000000000},BrightSource Energy
30,52cdef7d4bab8bd675299103,1999,{'valuation_amount': 970000000},Mixi
31,52cdef7d4bab8bd6752992c1,1993,{'valuation_amount': 1000000000},QlikTech
32,52cdef7d4bab8bd67529984e,2005,{'valuation_amount': 1100000000},Chegg
33,52cdef7d4bab8bd675299bd8,2005,{'valuation_amount': 1100000000},Chegg
34,52cdef7d4bab8bd675299d5d,2008,{'valuation_amount': 12800000000},Groupon
35,52cdef7e4bab8bd67529a7db,1999,{'valuation_amount': 803000000},SolarWinds
36,52cdef7e4bab8bd67529a8b4,2004,{'valuation_amount': 108960000000},GREE
37,52cdef7e4bab8bd67529aae7,2005,{'valuation_amount': 174000000},Tudou
38,52cdef7e4bab8bd67529ad05,1999,{'valuation_amount': 245000000},DemandTec
39,52cdef7e4bab8bd67529b3bd,1999,{'valuation_amount': 900000000},Cornerstone OnDemand
40,52cdef7e4bab8bd67529b996,1970,{'valuation_amount': 9430000000},Western Digital
41,52cdef7e4bab8bd67529bb87,2006,{'valuation_amount': 973500000},Millennial Media

5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [104]:
employees_founded = db.docs.find({'$and' : [{"founded_year":{'$lt':2005}}, {"number_of_employees":{"$lt":1000}}]}, projection={"name": 1 , "founded_year": 1, "number_of_employees": 1})
employees_founded = pd.DataFrame(list(employees_founded))
employees_founded

,_id,founded_year,name,number_of_employees
0,52cdef7c4bab8bd675297d8b,1996,AdventNet,600
1,52cdef7c4bab8bd675297d8d,2004,Digg,60
2,52cdef7c4bab8bd675297d93,1979,Fox Interactive Media,0
3,52cdef7c4bab8bd675297da1,2002,Plaxo,50
4,52cdef7c4bab8bd675297da5,2002,Technorati,35
5,52cdef7c4bab8bd675297da7,2004,AddThis,120
6,52cdef7c4bab8bd675297db2,2002,Meetup,75
7,52cdef7c4bab8bd675297db8,2002,SmugMug,62
8,52cdef7c4bab8bd675297dbc,2003,Skype,0
9,52cdef7c4bab8bd675297dc3,2004,Pando Networks,23
10,52cdef7c4bab8bd675297dc6,2003,Ikan,5
11,52cdef7c4bab8bd675297dda,2003,iContact,300
12,52cdef7c4bab8bd675297de0,2004,Yelp,800
13,52cdef7c4bab8bd675297de8,2003,Coghead,21
14,52cdef7c4bab8bd675297deb,1999,SideStep,75
15,52cdef7c4bab8bd675297ded,2003,Farecast,26
16,52cdef7c4bab8bd675297def,2004,KickApps,72
17,52cdef7c4bab8bd675297df8,2004,Flickr,36
18,52cdef7c4bab8bd675297e06,2003,adBrite,50
19,52cdef7c4bab8bd675297e11,2002,iLike,28
20,52cdef7c4bab8bd675297e12,1976,Ticketmaster,0
21,52cdef7c4bab8bd675297e19,2004,Redfin,100
22,52cdef7c4bab8bd675297e1e,2001,TechnologyGuide,10
23,52cdef7c4bab8bd675297e22,2004,Techmeme,11
24,52cdef7c4bab8bd675297e23,2004,Eventful,60
25,52cdef7c4bab8bd675297e27,2004,Simply Hired,100
26,52cdef7c4bab8bd675297e28,2004,ooma,47
27,52cdef7c4bab8bd675297e2c,1999,Recipezaar,5
28,52cdef7c4bab8bd675297e2e,2004,stylediary,0
29,52cdef7c4bab8bd675297e2f,1994,ictv,80
...,...,...,...,...
2394,52cdef7f4bab8bd67529c588,2003,Applied Language Solutions,100
2395,52cdef7f4bab8bd67529c599,1985,Catapult Communications,205
2396,52cdef7f4bab8bd67529c5ba,2000,iomart Group,260
2397,52cdef7f4bab8bd67529c5e1,1992,Business Oriented Systems Software,25
2398,52cdef7f4bab8bd67529c5fe,2001,InfoLogix,206
2399,52cdef7f4bab8bd67529c601,1999,smartFOCUS,550
2400,52cdef7f4bab8bd67529c603,1996,TGS Geophysicl,696
2401,52cdef7f4bab8bd67529c609,1983,INX,433
2402,52cdef7f4bab8bd67529c616,1967,Ambassadors Group,267
2403,52cdef7f4bab8bd67529c618,2000,optionsXpress,305
2404,52cdef7f4bab8bd67529c61e,1993,Embarcadero Technologies,450
2405,52cdef7f4bab8bd67529c628,1997,DocuVault,75
2406,52cdef7f4bab8bd67529c646,1999,Top Rated Website Designers,40
2407,52cdef7f4bab8bd67529c649,1998,AuthenTec,220
2408,52cdef7f4bab8bd67529c65c,2003,SheKnows,200
2409,52cdef7f4bab8bd67529c665,1985,RFP Express,25
2410,52cdef7f4bab8bd67529c66c,1996,Arkeia Software,50
2411,52cdef7f4bab8bd67529c680,1996,United On-Line,20
2412,52cdef7f4bab8bd67529c68e,1998,Vertro,50
2413,52cdef7f4bab8bd67529c69d,2004,Fotothing,5
2414,52cdef7f4bab8bd67529c6a2,1994,Savvion,160
2415,52cdef7f4bab8bd67529c6ac,1993,Inventa Technologies,207
2416,52cdef7f4bab8bd67529c6ad,1979,ANTs Software,3
2417,52cdef7f4bab8bd67529c6b3,1999,Gastrogate,12
2418,52cdef7f4bab8bd67529c6b8,2001,CScout Japan,10
2419,52cdef7f4bab8bd67529c6cb,2004,AwardSpace,35
2420,52cdef7f4bab8bd67529c6d1,1996,UOL (Universo Online),500
2421,52cdef7f4bab8bd67529c6d2,1998,Atlantic BT,30
2422,52cdef7f4bab8bd67529c6d8,2004,NextLabs,100
2423,52cdef7f4bab8bd67529c6f3,1967,QSGI,164